<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <path>
      <!--Path Type:
       0- Line. 1- Orbit, 2- WayPoints -->
      <pathtype>1</pathtype>
      <radius>50</radius>
       <!-- respective points from below xml nodes is correctly used for configuration-->
      <points>
         <orbitcentre>0,0</orbitcentre>
         <lineorigin>0,0</lineorigin>
         <lineslope>0,1</lineslope>
         <waypoint>0,0</waypoint>
         <waypoint>500,500</waypoint>
         <waypoint>500,0</waypoint>
         <waypoint>0,500</waypoint>
         <waypoint>0,0</waypoint>
         <waypoint>500,500</waypoint>
         <waypoint>500,0</waypoint>
      </points>
   </path>
   <!-- dronetype: 0 - Path Planner, 1- Leader, 2 - Follower -->
   <drones>
   
      <drone>
         <droneid>0</droneid>
         <dronetype>0</dronetype>
      </drone>
      <drone>
         <droneid>1</droneid>
         <dronetype>1</dronetype>
      </drone>
      <drone>
         <droneid>2</droneid>
         <dronetype>2</dronetype>
      </drone>
      <drone>
         <droneid>3</droneid>
         <dronetype>1</dronetype>
      </drone>
      <drone>
         <droneid>4</droneid>
         <dronetype>2</dronetype>
      </drone>
   </drones>
   <communications>
      <communication>
         <sourcedrone>0</sourcedrone>
         <targetdrone>1</targetdrone>
      </communication>
      <communication>
         <sourcedrone>0</sourcedrone>
         <targetdrone>3</targetdrone>
      </communication>
      <communication>
         <sourcedrone>1</sourcedrone>
         <targetdrone>2</targetdrone>
      </communication>
      <communication>
         <sourcedrone>3</sourcedrone>
         <targetdrone>4</targetdrone>
      </communication>
   </communications>
   <kpvalues>
      <element index="0">10</element>
      <element index="1">10</element>
      <element index="2">10</element>
      <element index="3">300</element>
      <element index="4">300</element>
      <element index="5">300</element>
   </kpvalues>
   <kvvalues>
      <element index="0">30</element>
      <element index="1">30</element>
      <element index="2">30</element>
      <element index="3">900</element>
      <element index="4">900</element>
      <element index="5">900</element>
   </kvvalues>
   <sgain>
      <element column="0" row="0">100.000000</element>
      <element column="1" row="1">100.000000</element>
      <element column="2" row="2">100.000000</element>
      <element column="3" row="3">100.000000</element>
      <element column="4" row="4">100.000000</element>
      <element column="5" row="5">100.000000</element>
   </sgain>
   <pgain>
      <element column="0" row="0">99.000000</element>
      <element column="1" row="1">99.000000</element>
      <element column="2" row="2">99.000000</element>
      <element column="3" row="3">99.000000</element>
      <element column="4" row="4">99.000000</element>
      <element column="5" row="5">99.000000</element>
   </pgain>
</configuration>