<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <path>
      <!--Path Type:
       0- Line. 1- Orbit, 2- WayPoints -->
      <pathtype>1</pathtype>
      <radius>50</radius>
       <!-- respective points from below xml nodes is correctly used for configuration-->
      <points>
         <orbitcentre>0,0</orbitcentre>
         <lineorigin>100,0</lineorigin>
         <lineslope>1,1</lineslope>
         <waypoint>0,0</waypoint>
         <waypoint>500,500</waypoint>
         <waypoint>500,0</waypoint>
         <waypoint>0,500</waypoint>
         <waypoint>0,0</waypoint>
         <waypoint>500,500</waypoint>
      </points>
   </path>
   <!-- dronetype: 0 - Path Planner, 1- Leader, 2 - Follower -->
   <drones>
   
      <drone>
         <droneid>0</droneid>
         <dronetype>0</dronetype>
      </drone>
      <drone>
         <droneid>1</droneid>
         <dronetype>1</dronetype>
      </drone>
      <drone>
         <droneid>2</droneid>
         <dronetype>2</dronetype>
      </drone>
      <drone>
         <droneid>3</droneid>
         <dronetype>1</dronetype>
      </drone>
      <drone>
         <droneid>4</droneid>
         <dronetype>2</dronetype>
      </drone>
   </drones>
   <communications>
      <communication>
         <sourcedrone>0</sourcedrone>
         <targetdrone>1</targetdrone>
      </communication>
      <communication>
         <sourcedrone>0</sourcedrone>
         <targetdrone>3</targetdrone>
      </communication>
      <communication>
         <sourcedrone>1</sourcedrone>
         <targetdrone>2</targetdrone>
      </communication>
      <communication>
         <sourcedrone>3</sourcedrone>
         <targetdrone>4</targetdrone>
      </communication>
   </communications>
   <!--kpvalues>
      <element index="0">100</element>
      <element index="1">100</element>
      <element index="2">100</element>
      <element index="3">100</element>
      <element index="4">100</element>
      <element index="5">100</element>
   </kpvalues-->
      <kpvalues>
      <element index="0">10</element>
      <element index="1">10</element>
      <element index="2">10</element>
      <element index="3">300</element>
      <element index="4">300</element>
      <element index="5">300</element>
   </kpvalues>
   <!--kvvalues>
      <element index="0">100</element>
      <element index="1">100</element>
      <element index="2">100</element>
      <element index="3">100</element>
      <element index="4">100</element>
      <element index="5">100</element>
   </kvvalues-->
      <kvvalues>
      <element index="0">1</element>
      <element index="1">10</element>
      <element index="2">10</element>
      <element index="3">300</element>
      <element index="4">300</element>
      <element index="5">300</element>
   </kvvalues>
   <sgain>
      <element column="0" row="0">0.00010000000000000000479</element>
      <element column="1" row="1">0.00010000000000000000479</element>
      <element column="2" row="2">0.00010000000000000000479</element>
      <element column="3" row="3">0.0030000000000000000625</element>
      <element column="4" row="4">0.0030000000000000000625</element>
      <element column="5" row="5">0.0030000000000000000625</element>
   </sgain>
   <pgain>
      <element column="0" row="0">0.006</element>
      <element column="6" row="0">0.0005</element>
      <element column="1" row="1">0.00555</element>
      <element column="7" row="1">0.0005</element>
      <element column="2" row="2">0.02755</element>
      <element column="8" row="2">0.0025</element>
      <element column="3" row="3">0.05008333333</element>
      <element column="9" row="3">8.333333333e-05</element>
      <element column="4" row="4">0.05008333333</element>
      <element column="10" row="4">8.333333333e-05</element>
      <element column="5" row="5">0.03001666667</element>
      <element column="11" row="5">1.666666667e-05</element>
      <element column="0" row="6">0.0005</element>
      <element column="6" row="6">0.00055</element>
      <element column="1" row="7">0.0005</element>
      <element column="7" row="7">5.5e-05</element>
      <element column="2" row="8">0.0025</element>
      <element column="8" row="8">0.000255</element>
      <element column="3" row="9">8.333333333e-05</element>
      <element column="9" row="9">8.361111111e-05</element>
      <element column="4" row="10">8.333333333e-05</element>
      <element column="10" row="10">8.361111111e-05</element>
      <element column="5" row="11">1.666666667e-05</element>
      <element column="11" row="11">8.338888889e-05</element>
   </pgain>
</configuration>